@layout('public::layouts/default')

@section('body')
  <div class="bg-black">
    <header class="header">
      <div class="relative z-10 mt-28">
        <h1 class="pb-24 font-title font-bold text-white text-center">Saphir Modal</h1>
        <h3 class="subtitle subtitle--anim text-4xl font-bold flex flex-col text-center">
          <span>L'application web la plus puissante</span>
          <span>et polyvante du marché</span>
        </h3>
      </div>
    </header>
  </div>
@end
