---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Starfield from '../components/starfield.astro';
---

<Layout title="Welcome to Astro.">
	<main class="h-full overflow-x-hidden bg-default text-gray-500 text-base selection:bg-secondary selection:text-white">
		<Starfield />
		<div class="bg-red-500">
			test
		</div>
	</main>
</Layout>

<style>

</style>
